:root {
  --neon-border-color: rgb(255, 0, 0);
}
* {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
}
body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    132deg,
    rgba(0, 0, 0, 1) 17%,
    rgb(24, 13, 10) 58%,
    rgba(60, 20, 2, 1) 88%
  );
  animation: bg 11s ease infinite;
}

@keyframes bg {
  0% {
    background-position: 0% 17%;
  }
  50% {
    background-position: 100% 84%;
  }
  100% {
    background-position: 0% 17%;
  }
}
.note {
  /* display: inline-block; */
  z-index: 5;
  height: 130px;
  margin: 56px 100px 30px 50px;
  width: 370px;
  font-size: 20px;
  border: 2px solid grey;
  border-radius: 5%;
  padding: 0px 0px 20px 20px;
  box-shadow: 5px 5px 2px 2px rgba(224, 195, 254, 0.22);

  background-color: black;
  color: white;
  cursor: pointer;
}

.note:hover {
  margin: 57px 100px 30px 50px;
  cursor: pointer;
  padding-top: 1px;
  border: 1px;
  border-radius: 5%;
  box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
    0 0 15px var(--neon-border-color), inset 0 0 5px var(--neon-border-color),
    0 0 20px var(--neon-border-color), inset 0 0 6px var(--neon-border-color);
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 2.5rem;
  background-color: black;
}

footer p {
  color: white;
  text-align: center;
}

.heading {
  text-decoration: underline;
  text-decoration-color: white;
  margin-top: 12px;
  position: absolute;
  top: 0px;
  left: 43%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
header {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    132deg,
    rgba(0, 0, 0, 1) 17%,
    rgba(40, 18, 13, 1) 58%,
    rgba(60, 20, 2, 1) 88%
  );
  height: 62px;
  margin-top: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
